<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>xlolo - Happy Birthday</title>
        <link href='http://fonts.googleapis.com/css?family=Roboto:100,300' rel='stylesheet' type='text/css'>
        <style>
            body{background:#FFFDD0;font-family: 'Roboto', sans-serif;font-size:12px;padding-top:40px;text-align: center;}
            .tp1{font-weight:300;font-size:100px;margin:0 auto; color: #27ae60}
            .tp2{font-weight:100;font-size:32px;margin:0 auto; color: #2ecc71}
            .image{ width: 320px; border:5px solid  #32e982 ;display: inline-block;;margin-top: 40px}
        </style>
    </head>
    <body>
	    <div style="width:100%; margin:0 auto; ">
	        <div style="float:left">
	            <img class="image" src="http://xlolo.b0.upaiyun.com/happy_birthday.jpg">
	            <div>
	                <audio src="http://xlolo.u.qiniudn.com/srkl.mp3"  autoplay="autoplay">
	                </audio>
	            </div>
	        </div>
	        <div style="float:left;text-align:left;padding:16px">
	            <p class="tp1">xlolo</p>
	            <p class="tp2">You are </p>
	            <p class="tp2">the sun in my day,</p>
	            <p class="tp2">the moon in my night,</p>
                <p class="tp2">the beat in my heart.</p>
	            <p class="tp2">You are my everything,</p>
                <p class="tp2">And I love you with everything I am.</p>
	        </div>


			<div style="clear: both"></div>
	    </div>
    </body>
</html>