<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Maowz</title>
        <style>
            body{background:#FFF;font-family: 'Roboto', sans-serif;font-size:12px;padding-top:40px;text-align: center;}
            .image{display: inline-block;;margin-top: 40px}
        </style>
    </head>
    <body>
	    <div style="width:100%; margin:0 auto; ">
	        <div>
	            <img class="image" src="http://xlolo.u.qiniudn.com/mwz.jpg">
	        </div>
	        <div style="margin:80px 0 20px 0">
	        	<span style="font-size:120px;color:#E9E9E9">It's coming</span>
	        </div>
	        <a href="http://weibo.com/u/3683519370" style="text-decoration: none;color:#27ae60">@猫乌兹微电商概念组</a>
	    </div>
    </body>
</html>